{%extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-info" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    
{% endfor %}


    <h1>Reset Password</h1>
    <br/><br/>
  
    <div class="shadow p-3 mb-5 bg-white rounded">
    <form method="POST">
        {{ form.hidden_tag() }}

        {{ form.password.label(class="form-label")}}
        {{ form.password(class="form-control") }}
        <br/>
        {{ form.confirm_password.label(class="form-label")}}
        {{ form.confirm_password(class="form-control") }}
        <br/>
        {{ form.submit(class="btn btn-dark") }}
    </form>
</div>

    <br/><br/><br/>

{% endblock %}